<?xml version="1.0" encoding="UTF-8"?>

<jira-database-config>
  <name>defaultDS</name>
  <delegator-name>default</delegator-name>
  <database-type>{{ atl_db_type }}</database-type>
  <jdbc-datasource>
    <url>{{ atl_jdbc_url }}</url>
    <username>{{ atl_jdbc_user }}</username>
    <password>{{ atl_jdbc_password }}</password>
    <driver-class>{{ atl_db_driver }}</driver-class>

    <pool-min-size>{{ atl_db_poolminsize }}</pool-min-size>
    <pool-max-size>{{ atl_db_poolmaxsize }}</pool-max-size>
    <pool-min-idle>{{ atl_db_minidle }}</pool-min-idle>
    <pool-max-idle>{{ atl_db_maxidle }}</pool-max-idle>

    <pool-max-wait>{{ atl_db_maxwaitmillis }}</pool-max-wait>
    <validation-query>select 1</validation-query>
    <time-between-eviction-runs-millis>{{ atl_db_timebetweenevictionrunsmillis }}</time-between-eviction-runs-millis>
    <min-evictable-idle-time-millis>{{ atl_db_minevictableidletimemillis }}</min-evictable-idle-time-millis>
    <pool-remove-abandoned>{{ atl_db_removeabandoned }}</pool-remove-abandoned>
    <pool-remove-abandoned-timeout>{{ atl_db_removeabandonedtimeout }}</pool-remove-abandoned-timeout>
    <pool-test-while-idle>{{ atl_db_testwhileidle }}</pool-test-while-idle>
    <pool-test-on-borrow>{{ atl_db_testonborrow }}</pool-test-on-borrow>
  </jdbc-datasource>
</jira-database-config>
