<?xml version="1.0" encoding="utf-8"?>

<Server port="{{ atl_tomcat_mgmt_port }}"
        shutdown="SHUTDOWN">

  <Listener className="org.apache.catalina.startup.VersionLoggerListener"/>
  <Listener className="org.apache.catalina.core.AprLifecycleListener"
            SSLEngine="on"/>
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>

  <Service name="Catalina">

    <Connector port="{{ atl_tomcat_port }}"
               maxThreads="{{ atl_tomcat_maxthreads }}"
               minSpareThreads="{{ atl_tomcat_minsparethreads }}"
               connectionTimeout="{{ atl_tomcat_connectiontimeout }}"
               enableLookups="{{ atl_tomcat_enablelookups }}"
               protocol="{{ atl_tomcat_protocol }}"
               redirectPort="{{ atl_tomcat_redirectport }}"
               acceptCount="{{ atl_tomcat_acceptcount }}"
               secure="{{ atl_tomcat_secure }}"
               scheme="{{ atl_tomcat_scheme }}"
               relaxedPathChars="[]|"
               relaxedQueryChars="[]|{}^\`&quot;&lt;&gt;"
               bindOnInit="false"
               maxHttpHeaderSize="8192"
               useBodyEncodingForURI="true"
               disableUploadTimeout="true" />

    {% if atl_tomcat_redirectport is defined and atl_tomcat_redirectport != '' %}
    <Connector port="{{ atl_tomcat_redirectport }}"
               protocol="{{ atl_tomcat_protocol }}"
               connectionTimeout="{{ atl_tomcat_connectiontimeout }}"

               relaxedPathChars="[]|"
               relaxedQueryChars="[]|{}^\`&quot;&lt;&gt;"
               maxHttpHeaderSize="65536"
               URIEncoding="UTF-8"
               useBodyEncodingForURI="true"
               compression="on"
               compressableMimeType="text/html,text/xml,text/plain,text/css,application/json,application/javascript,application/x-javascript" />
    {% endif %}

    <Engine name="Catalina"
            defaultHost="localhost">
      <Host name="localhost"
            appBase="webapps"
            unpackWARs="true"
            autoDeploy="true">

        <Context path="{{ atl_tomcat_contextpath }}"
                 docBase="${catalina.home}/atlassian-jira"
                 reloadable="false"
                 useHttpOnly="true">
          <Resource name="UserTransaction"
                    auth="Container"
                    type="javax.transaction.UserTransaction"
                    factory="org.objectweb.jotm.UserTransactionFactory"
                    jotm.timeout="60"/>
          <Manager pathname=""/>
          <JarScanner scanManifest="false"/>
          <Valve className="org.apache.catalina.valves.StuckThreadDetectionValve"
                 threshold="120" />
        </Context>

      </Host>
      <Valve className="org.apache.catalina.valves.AccessLogValve"
             pattern="%a %{jira.request.id}r %{jira.request.username}r %t &quot;%m %U%q %H&quot; %s %b %D &quot;%{Referer}i&quot; &quot;%{User-Agent}i&quot; &quot;%{jira.request.assession.id}r&quot;"/>
    </Engine>

  </Service>
</Server>
